---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  text-align: justify;
  hyphens: auto;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left; // иначе заголовки тоже будут растянуты — что не всегда красиво
}

// Скрываем RSS-иконку (feed.xml)
.minima-social a[href$="/feed.xml"] {
  display: none !important;
}
